form,
form * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
form:after,
form *:after,
form:before,
form *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
div.messages {
  margin: 1em 0;
  padding: 1em;
  font-size: 110%;
  color: #24405b;
  background: #fafafa;
  border: 2px solid #2e9ebf;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
}
div.messages ul,
div.messages ol {
  padding: 0;
  list-style: none;
}
div.messages ul > li:first-child,
div.messages ol > li:first-child {
  margin-top: 0;
}
div.messages li {
  display: block;
  margin: 0.25em 0 0 0;
  padding: 0;
}
div.messages.success {
  border-color: #4a974a;
}
div.messages.warning {
  border-color: #f18e00;
}
div.messages.error {
  border-color: #c9382a;
  color: #9f2c21;
  background-color: #fdf6f5;
}
form,
fieldset {
  display: block;
  margin: 0.75em 0 0 0;
  padding: 0;
  border: 0;
  min-width: 0;
}
legend {
  border: 0;
  padding: 0 0 0 0.35em;
  margin: 0;
  font-size: 1.42857143em;
}
label {
  display: inline-block;
  max-width: 100%;
  margin: 0;
  zoom: 1;
  *display: inline;
  display: inline\0;
}
label[for] {
  cursor: pointer;
}
input[type=text],
input[type=search],
input[type=tel],
input[type=url],
input[type=email],
input[type=password],
input[type=datetime],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=number],
input[type=range],
input[type=color],
textarea,
select {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #999999;
  background-color: #ffffff;
  font-size: 1em;
  padding: 5px 7px;
  line-height: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  -webkit-transition: box-shadow 0.3s, border-color 0.3s;
  -moz-transition: box-shadow 0.3s, border-color 0.3s;
  -o-transition: box-shadow 0.3s, border-color 0.3s;
  transition: box-shadow 0.3s, border-color 0.3s;
}
input[type=text]:hover,
input[type=search]:hover,
input[type=tel]:hover,
input[type=url]:hover,
input[type=email]:hover,
input[type=password]:hover,
input[type=datetime]:hover,
input[type=date]:hover,
input[type=month]:hover,
input[type=week]:hover,
input[type=time]:hover,
input[type=number]:hover,
input[type=range]:hover,
input[type=color]:hover,
textarea:hover,
select:hover,
input[type=text]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=url]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=datetime]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=time]:focus,
input[type=number]:focus,
input[type=range]:focus,
input[type=color]:focus,
textarea:focus,
select:focus {
  border: 1px solid #76b0e3;
}
input[type=text]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=url]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=datetime]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=time]:focus,
input[type=number]:focus,
input[type=range]:focus,
input[type=color]:focus,
textarea:focus,
select:focus,
input[type=text]:focus:invalid,
input[type=search]:focus:invalid,
input[type=tel]:focus:invalid,
input[type=url]:focus:invalid,
input[type=email]:focus:invalid,
input[type=password]:focus:invalid,
input[type=datetime]:focus:invalid,
input[type=date]:focus:invalid,
input[type=month]:focus:invalid,
input[type=week]:focus:invalid,
input[type=time]:focus:invalid,
input[type=number]:focus:invalid,
input[type=range]:focus:invalid,
input[type=color]:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  outline: 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 6px rgba(118, 176, 227, 0.8);
  -moz-box-shadow: 0 0 6px rgba(118, 176, 227, 0.8);
  box-shadow: 0 0 6px rgba(118, 176, 227, 0.8);
}
input[type=text]:invalid,
input[type=search]:invalid,
input[type=tel]:invalid,
input[type=url]:invalid,
input[type=email]:invalid,
input[type=password]:invalid,
input[type=datetime]:invalid,
input[type=date]:invalid,
input[type=month]:invalid,
input[type=week]:invalid,
input[type=time]:invalid,
input[type=number]:invalid,
input[type=range]:invalid,
input[type=color]:invalid,
textarea:invalid,
select:invalid {
  border-color: #c9382a;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[type=text]:focus:invalid,
input[type=search]:focus:invalid,
input[type=tel]:focus:invalid,
input[type=url]:focus:invalid,
input[type=email]:focus:invalid,
input[type=password]:focus:invalid,
input[type=datetime]:focus:invalid,
input[type=date]:focus:invalid,
input[type=month]:focus:invalid,
input[type=week]:focus:invalid,
input[type=time]:focus:invalid,
input[type=number]:focus:invalid,
input[type=range]:focus:invalid,
input[type=color]:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  -webkit-box-shadow: 0 0 6px rgba(201, 56, 42, 0.8);
  -moz-box-shadow: 0 0 6px rgba(201, 56, 42, 0.8);
  box-shadow: 0 0 6px rgba(201, 56, 42, 0.8);
}
select {
  padding: 4px 0;
}
input[type=search] {
  -webkit-appearance: textfield;
}
input[type=radio],
input[type=checkbox] {
  width: auto;
  border: 0;
  vertical-align: middle;
  position: relative;
  bottom: 2px;
  line-height: 1;
}
input[type=radio] {
  bottom: 2px;
}
textarea {
  resize: vertical;
  line-height: 1.4;
}
::-webkit-input-placeholder {
  color: #777;
}
input:-moz-placeholder,
input::-moz-placeholder,
textarea:-moz-placeholder {
  color: #777;
}
a.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  padding: 8px 9px;
  margin: 0 0.2em 0 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: normal;
  vertical-align: baseline;
  cursor: pointer;
  border: 1px solid #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  border-color: #d5d5d5;
  color: #000000;
  background-color: #eeeeee;
  background-image: -webkit-linear-gradient(bottom, #eeeeee, #ffffff);
  background-image: -moz-linear-gradient(bottom, #eeeeee, #ffffff);
  background-image: -o-linear-gradient(bottom, #eeeeee, #ffffff);
  background-image: -ms-linear-gradient(bottom, #eeeeee, #ffffff);
  background-image: linear-gradient(bottom, #eeeeee, #ffffff);
}
a.button::-moz-focus-inner,
button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border: none;
  padding: 0;
}
a.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
a.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  background-color: #ccc;
}
a.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: 0;
  border-color: #000;
}
a.button:active,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  outline: 0;
  background-color: #ddd;
}
a.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
a.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  color: #000000;
  background-color: #dadada;
  background-image: -webkit-linear-gradient(bottom, #dadada, #ebebeb);
  background-image: -moz-linear-gradient(bottom, #dadada, #ebebeb);
  background-image: -o-linear-gradient(bottom, #dadada, #ebebeb);
  background-image: -ms-linear-gradient(bottom, #dadada, #ebebeb);
  background-image: linear-gradient(bottom, #dadada, #ebebeb);
}
a.button:active,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  color: #000000;
  background-color: #eeeeee;
  background-image: -webkit-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -moz-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -o-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -ms-linear-gradient(top, #eeeeee, #ffffff);
  background-image: linear-gradient(top, #eeeeee, #ffffff);
}
a.button.primary,
button.primary,
input[type="button"].primary,
input[type="reset"].primary,
input[type="submit"].primary {
  border-color: #1a4e90;
  color: #ffffff;
  background-color: #2266bb;
  background-image: -webkit-linear-gradient(bottom, #2266bb, #367fda);
  background-image: -moz-linear-gradient(bottom, #2266bb, #367fda);
  background-image: -o-linear-gradient(bottom, #2266bb, #367fda);
  background-image: -ms-linear-gradient(bottom, #2266bb, #367fda);
  background-image: linear-gradient(bottom, #2266bb, #367fda);
}
a.button.primary:hover,
button.primary:hover,
input[type="button"].primary:hover,
input[type="reset"].primary:hover,
input[type="submit"].primary:hover,
a.button.primary:focus,
button.primary:focus,
input[type="button"].primary:focus,
input[type="reset"].primary:focus,
input[type="submit"].primary:focus {
  color: #ffffff;
  background-color: #1c5398;
  background-image: -webkit-linear-gradient(bottom, #1c5398, #246bc4);
  background-image: -moz-linear-gradient(bottom, #1c5398, #246bc4);
  background-image: -o-linear-gradient(bottom, #1c5398, #246bc4);
  background-image: -ms-linear-gradient(bottom, #1c5398, #246bc4);
  background-image: linear-gradient(bottom, #1c5398, #246bc4);
}
a.button.primary:active,
button.primary:active,
input[type="button"].primary:active,
input[type="reset"].primary:active,
input[type="submit"].primary:active {
  color: #ffffff;
  background-color: #2266bb;
  background-image: -webkit-linear-gradient(top, #2266bb, #367fda);
  background-image: -moz-linear-gradient(top, #2266bb, #367fda);
  background-image: -o-linear-gradient(top, #2266bb, #367fda);
  background-image: -ms-linear-gradient(top, #2266bb, #367fda);
  background-image: linear-gradient(top, #2266bb, #367fda);
}
a.button.success,
button.success,
input[type="button"].success,
input[type="reset"].success,
input[type="submit"].success {
  border-color: #305f18;
  color: #ffffff;
  background-color: #448822;
  background-image: -webkit-linear-gradient(bottom, #448822, #58b12c);
  background-image: -moz-linear-gradient(bottom, #448822, #58b12c);
  background-image: -o-linear-gradient(bottom, #448822, #58b12c);
  background-image: -ms-linear-gradient(bottom, #448822, #58b12c);
  background-image: linear-gradient(bottom, #448822, #58b12c);
}
a.button.success:hover,
button.success:hover,
input[type="button"].success:hover,
input[type="reset"].success:hover,
input[type="submit"].success:hover,
a.button.success:focus,
button.success:focus,
input[type="button"].success:focus,
input[type="reset"].success:focus,
input[type="submit"].success:focus {
  color: #ffffff;
  background-color: #34671a;
  background-image: -webkit-linear-gradient(bottom, #34671a, #489024);
  background-image: -moz-linear-gradient(bottom, #34671a, #489024);
  background-image: -o-linear-gradient(bottom, #34671a, #489024);
  background-image: -ms-linear-gradient(bottom, #34671a, #489024);
  background-image: linear-gradient(bottom, #34671a, #489024);
}
a.button.success:active,
button.success:active,
input[type="button"].success:active,
input[type="reset"].success:active,
input[type="submit"].success:active {
  color: #ffffff;
  background-color: #448822;
  background-image: -webkit-linear-gradient(top, #448822, #58b12c);
  background-image: -moz-linear-gradient(top, #448822, #58b12c);
  background-image: -o-linear-gradient(top, #448822, #58b12c);
  background-image: -ms-linear-gradient(top, #448822, #58b12c);
  background-image: linear-gradient(top, #448822, #58b12c);
}
a.button.warning,
button.warning,
input[type="button"].warning,
input[type="reset"].warning,
input[type="submit"].warning {
  border-color: #be5f0e;
  color: #ffffff;
  background-color: #ee7711;
  background-image: -webkit-linear-gradient(bottom, #ee7711, #f19241);
  background-image: -moz-linear-gradient(bottom, #ee7711, #f19241);
  background-image: -o-linear-gradient(bottom, #ee7711, #f19241);
  background-image: -ms-linear-gradient(bottom, #ee7711, #f19241);
  background-image: linear-gradient(bottom, #ee7711, #f19241);
}
a.button.warning:hover,
button.warning:hover,
input[type="button"].warning:hover,
input[type="reset"].warning:hover,
input[type="submit"].warning:hover,
a.button.warning:focus,
button.warning:focus,
input[type="button"].warning:focus,
input[type="reset"].warning:focus,
input[type="submit"].warning:focus {
  color: #ffffff;
  background-color: #c8640e;
  background-image: -webkit-linear-gradient(bottom, #c8640e, #ef7c1b);
  background-image: -moz-linear-gradient(bottom, #c8640e, #ef7c1b);
  background-image: -o-linear-gradient(bottom, #c8640e, #ef7c1b);
  background-image: -ms-linear-gradient(bottom, #c8640e, #ef7c1b);
  background-image: linear-gradient(bottom, #c8640e, #ef7c1b);
}
a.button.warning:active,
button.warning:active,
input[type="button"].warning:active,
input[type="reset"].warning:active,
input[type="submit"].warning:active {
  color: #ffffff;
  background-color: #ee7711;
  background-image: -webkit-linear-gradient(top, #ee7711, #f19241);
  background-image: -moz-linear-gradient(top, #ee7711, #f19241);
  background-image: -o-linear-gradient(top, #ee7711, #f19241);
  background-image: -ms-linear-gradient(top, #ee7711, #f19241);
  background-image: linear-gradient(top, #ee7711, #f19241);
}
a.button.danger,
button.danger,
input[type="button"].danger,
input[type="reset"].danger,
input[type="submit"].danger {
  border-color: #a70010;
  color: #ffffff;
  background-color: #da0015;
  background-image: -webkit-linear-gradient(bottom, #da0015, #ff0e25);
  background-image: -moz-linear-gradient(bottom, #da0015, #ff0e25);
  background-image: -o-linear-gradient(bottom, #da0015, #ff0e25);
  background-image: -ms-linear-gradient(bottom, #da0015, #ff0e25);
  background-image: linear-gradient(bottom, #da0015, #ff0e25);
}
a.button.danger:hover,
button.danger:hover,
input[type="button"].danger:hover,
input[type="reset"].danger:hover,
input[type="submit"].danger:hover,
a.button.danger:focus,
button.danger:focus,
input[type="button"].danger:focus,
input[type="reset"].danger:focus,
input[type="submit"].danger:focus {
  color: #ffffff;
  background-color: #b10011;
  background-image: -webkit-linear-gradient(bottom, #b10011, #e40016);
  background-image: -moz-linear-gradient(bottom, #b10011, #e40016);
  background-image: -o-linear-gradient(bottom, #b10011, #e40016);
  background-image: -ms-linear-gradient(bottom, #b10011, #e40016);
  background-image: linear-gradient(bottom, #b10011, #e40016);
}
a.button.danger:active,
button.danger:active,
input[type="button"].danger:active,
input[type="reset"].danger:active,
input[type="submit"].danger:active {
  color: #ffffff;
  background-color: #da0015;
  background-image: -webkit-linear-gradient(top, #da0015, #ff0e25);
  background-image: -moz-linear-gradient(top, #da0015, #ff0e25);
  background-image: -o-linear-gradient(top, #da0015, #ff0e25);
  background-image: -ms-linear-gradient(top, #da0015, #ff0e25);
  background-image: linear-gradient(top, #da0015, #ff0e25);
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  width: auto;
  overflow: hidden;
}
form label.required {
  font-weight: bold;
}
form label.required:after {
  content: " *";
  color: #9f2c21;
}
form .field {
  background: #f6f6f6;
  padding: 1em 0.5em;
  margin: 0 0 1px 0;
}
form .field .field-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
form .field .field-content .max {
  width: 100%;
}
form .field .hint {
  color: #2e9ebf;
  font-style: italic;
  font-size: 0.9em;
  display: inline-block;
  margin-left: 0.5em;
}
form .field.inline .field-content li {
  display: inline;
}
form .field.regrouped ul,
form .field.regrouped li {
  display: inline;
}
form .field.regrouped .field-content > div {
  display: inline-block;
  vertical-align: top;
}
form .field.regrouped .hint {
  display: block;
  margin-left: 0;
}
form .field.horizontal {
  clear: left;
  overflow: hidden;
}
form .field.horizontal > label {
  display: block;
  width: 12em;
  float: left;
  margin: 0;
  padding-top: 0.5em;
  line-height: 1;
}
form .field.horizontal .field-content {
  margin: 0 0 0 13em;
}
form .field.horizontal .field-content textarea {
  margin-top: 0;
}
form .field.horizontal .field-content ul {
  margin-top: 0.2em;
}
@media only screen and (max-width: 360px) {
  form .field.horizontal > label {
    float: none;
    width: auto;
    padding: auto;
  }
  form .field.horizontal .field-content {
    margin-left: 0;
  }
  form .field.horizontal .hint {
    margin-left: 0;
  }
  form .field.horizontal.with-errors .errorlist {
    margin-left: 0;
  }
}
form .form-table {
  border: 1px solid #999999;
}
form .form-table th,
form .form-table td {
  border: 0;
}
form .form-table tbody td {
  vertical-align: bottom;
  padding: 0.5em;
}
form .form-table tbody tr:nth-child(odd) td:not(.with-errors) {
  background: #ffffff;
}
form .form-table input[type=checkbox],
form .form-table input[type=radio] {
  margin-bottom: 6px;
}
form .controls {
  padding-left: 0.5em;
}
form .field.with-errors {
  background-color: #f9e2e0;
}
form .field.with-errors .errorlist {
  list-style: none;
  color: #9f2c21;
  font-weight: bold;
  padding: 0;
  margin: 0 0 0.5rem 0;
}
form .field.with-errors input[type=text],
form .field.with-errors input[type=search],
form .field.with-errors input[type=tel],
form .field.with-errors input[type=url],
form .field.with-errors input[type=email],
form .field.with-errors input[type=password],
form .field.with-errors input[type=datetime],
form .field.with-errors input[type=date],
form .field.with-errors input[type=month],
form .field.with-errors input[type=week],
form .field.with-errors input[type=time],
form .field.with-errors input[type=number],
form .field.with-errors input[type=range],
form .field.with-errors input[type=color],
form .field.with-errors textarea,
form .field.with-errors select {
  border-color: #c9382a;
}
form .field.with-errors input[type=text]:focus,
form .field.with-errors input[type=search]:focus,
form .field.with-errors input[type=tel]:focus,
form .field.with-errors input[type=url]:focus,
form .field.with-errors input[type=email]:focus,
form .field.with-errors input[type=password]:focus,
form .field.with-errors input[type=datetime]:focus,
form .field.with-errors input[type=date]:focus,
form .field.with-errors input[type=month]:focus,
form .field.with-errors input[type=week]:focus,
form .field.with-errors input[type=time]:focus,
form .field.with-errors input[type=number]:focus,
form .field.with-errors input[type=range]:focus,
form .field.with-errors input[type=color]:focus,
form .field.with-errors textarea:focus,
form .field.with-errors select:focus {
  -webkit-box-shadow: 0 0 6px rgba(201, 56, 42, 0.8);
  -moz-box-shadow: 0 0 6px rgba(201, 56, 42, 0.8);
  box-shadow: 0 0 6px rgba(201, 56, 42, 0.8);
}
form .field.horizontal .errorlist {
  margin-left: 13em;
}
form .field.horizontal.regrouped .errorlist {
  margin: 0;
}
form .form-table {
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  vertical-align: top;
}
form .form-table thead th {
  background-color: #eeeeee;
  padding: 0.5em;
  text-align: left;
}
