<!doctype html>
<html lang="en">
{% load formica staticfiles %}
<head>
  <meta charset="UTF-8" />
  <title>Formica example using Uni-form</title>
  <link rel="stylesheet" href="{% static "base.css" %}" />
  <link rel="stylesheet" href="{% static "default-form.css" %}" />
</head>

<body>
<div id="main">
<h1>Formica example using default template</h1>

<p>This page demonstrates Formica capabilities with default templates and a
<a href="{% static "default-form.css" %}">ready to use stylesheet</a> that you can incorporate in
your project or application.</p>

<p>Have a look at this template's source to see how such a form can be created. No witchcraft,
only some template tags and variables.</p>

<form method="post">
{% form "formica/base_form.html" %}
  {# set some field settings here #}
  {% set firstname__placeholder="John" firstname__size="40" %}
  {% set name__placeholder="Doe" %}
  {% set date__placeholder="YYYY-MM-DD" time__placeholder="HH:MM:SS" %}
  {% set datetime__placeholder="YYYY-MM-DD HH:MM:SS" %}

  {# "max" class force field width to 100% of available space #}
  {% set name__class="max" text__class="max" %}

  {# "inline" class allows you to put choices on a single line #}
  {% set mchoices2__wrapper_class="horizontal inline" %}

  <h2>Basic layout</h2>
  {% fields form.field_groups.0 %}

  <h2>Regrouped fields</h2>
  {% fields form.field_groups.1 "regrouped" label="Group with label" %}
  {% fields form.field_groups.2 "regrouped" %}

  <h2>Horizontal fields</h2>
  {% fields form.field_groups.3 wrapper_class="horizontal" %}

  <h2>Horizontal and solid fields</h2>
  {% fields form.field_groups.3 wrapper_class="horizontal solid" %}

  <h2>Horizontal regrouped</h2>
  {% fields form.field_groups.5 "regrouped" wrapper_class="horizontal" label="Horizontal regrouped" %}

  <h2>Horizontal multiple widget field</h2>
  {% fields form.field_groups.6 wrapper_class="horizontal" %}
{% endform %}

<h2>Table formset</h2>
{% use "formica/table_form.html" "table_formset" name__size=8 date__size=8 %}
{% enduse %}

<p><button type="submit">Submit</button></p>
</form>

</div>
</body>
</html>
